body {
    margin: 0;
    padding: 0;
    background-color: #fffff0;
  }
  
  .container {
    background-color: #261136;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
  
  .teste {
    background-image: url(/public/img/img.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height:70em
  }
  .teste2 {
    color: white;
    font-size: 7em;
    /* background-color:black; */
    max-width: 400px;
    margin-left: 100px;
    margin-right: auto;
    margin-top: 30px;
    position: absolute;
    text-shadow: #000 2px 3px 2px;
  }
  
  #text1 {
    display: flex;
    height: 679px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    top: 46em;
  }
  
  #span1 {
    height: 3em;
    position: relative;
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #8bc34a;
    font-size: 1.5em;
    text-align: center;
  }
  
  #span2 {
    height: 3em;
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #212121;
    font-size: 1.5em;
    text-align: center;
  }
  
  #sec1 {
    background-color: #272727;
    margin-left: 100px;
    margin-right: 100px;
    height: 679px;
    position: relative;
    opacity: 0.7;
  }
  
  .card1 {
    width: auto;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 8em;
  }
  
  .area1 {
    /* background-color: blue; */
    color: white;
    height: 180px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 5em;
  }
  
  .area2 {
    /* background-color: black; */
    color: #8B8B8B;
    height: 80px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 1.6em;
  }
  
  .card2 {
    width: auto;
    margin-left: 200px;
    margin-right: 200px;
    /* background-color:green */
    margin-top:60px
  }
  
  
  .area3 {
    /* background-color: black; */
    color: #FFF;
    height: 80px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
  }
  
  #view {
    display: flex;
    justify-content: space-between;
    /* background-color:blue */
    height: 120px;
  }
  
  #view button {
    background-color:#431C60;
    color: #FFF;
    border: none;
    border-radius:2px;
    width:60%;
    font-size:20px;
    margin-top:30px;
    cursor:pointer;
  }
  
  .area4 {
    /* background-color: yellow; */
    color: #8B8B8B;
    height: 80px;
    font-size: 2em;
  }
  
  #aviao i{
    /* color: #8B8B8B */
    margin-top: 40px;
  }
  
  .area1 i {
      font-size:0.8em;
      color:#8B8B8B;
  }
  
  #secao {
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 13em;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    position:relative
  }
  
  #secao button {
    font-size: 50px;
    border-radius: 50%;
    background-color: #7b1fa2;
    cursor: pointer;
    width: 96px;
    height: 96px;
    color: white;
    margin-top:30px
  }
  
  .secao1 {
    margin-top:-4em;
    margin-left: 60px;
    margin-right: 60px;
    height: 60em;
    background-image: url(/public/img/sala.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
  }
  
  .secao1 h2 {
    color: white;
    font-size: 30px;
    margin-left: 40px;
  }
  
  .secao2 {
    margin-top: 30px;
    margin-left: 85px;
    margin-right: 85px;
    height: 55em;
    background-image: url(/public/img/carro.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.8;
  }
  
  #sec2 {
    background-color: #000000d4;
    margin-left: 9px;
    margin-right: 9px;
    height: 55em;
    position: relative;
    opacity: 0.8;
  }

  .destiny {
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
    /* background-color: #8bc34a; */
  }

  #distiny-area {
    display: flex;
  }

  #div1-destiny {
    display: flex;
    height: 200px;
    /* background-color: #707070; */
  }

  #div1-destiny p {
  margin-left: 30px;  
  font-size: 50px;
  color: #FFF;
  }

  #div1-destiny span {
    color: #8BC34A;
    font-size: 50px;
  }

  .form-check {
    /* background-color: aquamarine; */
    height: 50%;
    margin-top: 120px;
    width: 10%;
    display: flex;
    flex-direction: column;
  }

  input.form-check-input {
    width: 50px;
    height: 50px;
    margin-left: 30px;
  }

  #line {
    height: 150px;
    border-right: 2px solid rgb(255, 255, 255);
    margin-right: 43px; 
  }

  .form-check1 {
    /* background-color: yellow; */
    width: 70%;
    margin-top: 60px;
    font-size: 39px;
    justify-content: space-between;
    color: #FFF;
  }

  #lapis {
    /* background-color: red; */
    margin-top: 60px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    font-size: 160px;
    justify-content: space-between;
  }

  #lapis button {
    margin-top: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #431C60;
    border: none;
    cursor: pointer;
  }
  #lapis img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    position: relative;
  }
  
  .secao3 {
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    height: 55em;
    background-image: url(/public/img/estatua.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* position: relative; */
  }
  
  #sec3 {
    background-color: #0000005f;
    margin-left: 30px;
    margin-right: 30px; 
    height: 17.5em;
    position: relative;
    /* opacity: 1;
    bottom:0; */
    top: 37.5em;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  
  .secao4 {
    margin-top: 30px;
    margin-left: 89px;
    margin-right: 89px;
    height: 45em;
    background-color:#9538e773;
    background-size: 100%;
  }

#form1 {
 /* background-color: #8bc34a; */
 height: 45%;
 margin-left: 50px;
 margin-right: 50px;
}

#form1 input {
  height: 5em;
  width: 80%;
  margin-top: 30px;
  display: flex;
  position: relative;
  top: 4em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}
  
  #area {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 15em;
    width: 73%;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  
  #area i {
    font-size: 70px;
    border-radius: 50%;
    justify-content: center;
    color: #FFF;
    /* text-shadow: #000 2px 3px 2px; */
  }

  #area button {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    cursor: pointer;
    border: none;
    text-shadow: #000 2px 3px 2px;
  }

  button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }

#area p, span {
  color: #8B8B8B;
  font-size: 25px;
}
  
  footer {
    background-color: #431c60;
    margin-top: 30px;
  }
  .rodape {
    margin-left: 65px;
    margin-right: 65px;
    height: 79px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  
  .rodape i {
    font-size: 35px;
    margin-top: 20px;
    cursor: pointer;
    color: #707070;
  }
  
  @media (max-width: 768px) {
    .container {
      background-color: #261136;
      margin-left: 1em;
      margin-right:1em;
    }
  
    .teste2 {
      color: #FFF;
      font-size: 3em;
      /* background-color:black; */
      max-width: 300px;
      margin-left: 60px;
      /* margin-right: auto; */
      /* margin-top: 30px; */
      position: absolute;
      text-shadow: #000 2px 3px 2px;
    }
  
    #text1 {
      display: flex;
      height: 79px;
      margin-left: 10px;
      margin-right: 10px;
      position: relative;
      top: 13em;
      font-size:10px
    }
  }
  